/* Optimisation des polices - Utilisation d'une seule famille avec différents poids */
@font-face {
  font-family: "Inter";
  src: url(font/Inter-Regular.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(font/Inter-Medium.ttf) format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(font/Inter-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(font/Inter-Bold.ttf) format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Bowlby One";
  src: url(font/BowlbyOne-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: url(font/Montserrat-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url(font/Montserrat-Bold.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url(font/Montserrat-ExtraBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "GasoekOne";
  src: url(font/GasoekOne-Regular.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "LilitaOne";
  src: url(font/LilitaOne-Regular.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Barlow-Black";
  src: url(font/Barlow-SemiBold.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Barlow-Black";
  src: url(font/Barlow-Black.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Barlow-Black";
  src: url(font/Barlow-Blod.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Barlow-Black";
  src: url(font/Barlow-ExtraBold.ttf);
  font-weight: 800;
}

/* Variables CSS pour les valeurs répétées */
:root {
  /* color  */
  /* light purple */
  --purple-light: #cdabfb;
  --purple-dark: #7e26f6;
  --white: white;
  --pink-text: #f9bcc3;
  --font-color: #0d324c;

  /* background */
  --background-header: #0d324c;
  --background-how: #92003f;

  /* h1 font-size  */
  /* --h1-font-size: 48px; */
  --h1-font-size: 66px;
  --h1-line-height: 68px;
  /* --h1-line-height: 49px; */
  --h1-margin-bottom: 40px;
  /* h2 font-size  */
  --h2-font-size: 37px;
  --h2-line-height: 38px;
  /* h2 banner2 */
  --h2-banner-font-size: 64px !important;
  --h2-banner-line-height: 66px !important;
  --banner2-number-size: 72px;
  /* h3 font-size  */
  --h3-font-size: 64px;

  /* big text (btn) */
  --font-size-big-p: 24px;
  --line-height-big-p: 25px;
  /* big text how it work */
  --font-size-p: 21px;
  /* --line-height-p: 26px; */
  --line-height-p: 1.6;

  /* normal p  */
  --font-size-normal: 32px;
  /* header space  */
  --header-big-little: 64px;
  --header-big-space: 96px;
  /* margin-bottom */
  --marging-bottom-h2: 90px;
  /* space between section  */
  --space-inter-section: 100px;
  /* space between text  */
  --space-inter-text: 30px;
  /* footer small  */
  --footer-small-text: 12px;
}

@media screen and (max-width: 900px) {
  :root {
    --space-inter-section: 64px;
    --h1-font-size: 40px;
    --h1-line-height: 41px;
    --h1-margin-bottom: 30px;
    --h2-banner-font-size: 34px !important;
    --h2-banner-line-height: 36px !important;
    --banner2-number-size: 64px;
    --h2-line-height: 25px;
    --space-inter-text: 25px;
    --font-size-p: 16px;
    --h2-font-size: 24px;
    --line-height-p: 22px;
    --font-size-big-p: 18px;
    --line-height-big-p: 20px;
  }
}

/* Reset et styles de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(8%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-bottom {
  animation-name: fadeInBottom;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  transition: all 0.5s ease;
  opacity: 1;
}

.observed-element {
  opacity: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: var(--line-height-base);
  background: var(--white);
  text-align: center;
  font-family: "Inter", sans-serif;
  color: var(--font);
}

/* Styles de titres */
h1,
h2,
h3 {
  font-family: "Barlow-Black", sans-serif;
  font-weight: 600;
}
h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  /* margin-bottom: 64px; */
  margin-bottom: var(--h1-margin-bottom);
}

h2 {
  font-size: var(--h2-font-size);
  margin-bottom: var(--spacing-md);
  text-align: center;

  line-height: var(--h2-line-height);
  padding-bottom: var(--marging-bottom);
}

h3 {
  font-size: var(--h3-font-size);
  margin-bottom: var(--spacing-xs);
}
/* Nav  */
header {
  background-color: var(--font-color);
  padding: 20px 0px;
  display: flex;
  justify-content: center;
}
header div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  max-width: 1070px;
}
.headerLogo {
  width: 100%;
}
.headerLogo img {
  width: 90px;
  height: auto;
}
/* end Nav  */
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(8%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.top-section {
  background-color: var(--font-color);
  color: #efefef;
  padding: 50px 50px 0px 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 99vh;
  align-items: center;
}
.top-section-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 2076px;
  /* Animation */
  animation-name: fadeInBottom;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  transition: all 0.5s ease;
  margin-bottom: var(--h1-margin-bottom);
}

/* top-section items  */

/* subtitle  */
.top-section .top-section-container p {
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  margin-bottom: var(--h1-margin-bottom);
  /* max-width: 1220px; */
  max-width: 720px;
}
/* texte in purple  */
.top-section-purple {
  color: var(--purple-light) !important;
}
/* texte in purple  */
.top-section-purple-dark {
  color: var(--purple-dark) !important;
}
.purple-rotate {
  color: var(--purple-light) !important;
  transform: rotate(-10deg);
}
.top-section-purple-buble {
  background-color: var(--purple-light);
  padding: 8px;
  border-radius: 40px;
  color: var(--background-header);
  font-weight: 600;
}

.top-section-title {
  position: relative;
  /* max-width: 798px; */
  /* max-width: 1300px; */
  max-width: 900px;
  color: #efefef;
}

/* button  */
.btnTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ef3741;
  border-radius: 15px;
  border: none;
  color: #efefef;

  height: 81px;
  width: 300px;
  font-size: var(--font-size-normal);
  font-weight: 600;
  align-items: center;
  cursor: pointer;
}
.btnTop:hover {
  opacity: 80%;
}

.btnTop-text {
  font-size: 16px;
  font-family: "Barlow-Black", sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
}
.btnTop-number {
  font-size: 24px;
  font-weight: 900;
  font-family: "Inter", sans-serif;
}
/* charactere lizy (illustration) */
.top-section-character-svg {
  position: absolute;
  transform: rotate(-10deg);
  bottom: 162px;
  right: -5px;
  height: 55px;
  /* for animation  */
  /* opacity: 0; */
  transform: translateY(40px) rotate(-10deg);
  transition: opacity 0.8s ease, transform 0.8s ease;
  will-change: opacity, transform;
  opacity: 1;
  transform: translateY(0) rotate(-10deg);
  animation: float 3s ease-in-out infinite;
}

/* Animation levitation */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px) rotate(-10deg);
  }
  100% {
    transform: translateY(0);
  }
}
/* end top-section items  */
/* partner section  */
.top-partner-container {
  display: flex;
  max-width: 1070px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.partener-header {
  font-size: 16px;
  color: #ffffff;
}
.top-partners {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--font-color);
  height: 88px;
  padding: 15px 0px;
}
.partners-svg {
  margin-left: 30px;
  display: flex;
  align-items: center;
}
.partners-svg img {
  margin: 0px 10px;
  width: 110px;
  height: auto;
}
/*end partner section  */

/* Bloc section  */
.middle-bloc-container {
  margin-bottom: var(--space-inter-section);
}
.bloc {
  display: flex;
  max-width: 1070px;
  width: 100%;
  justify-content: space-between;
  margin-top: var(--space-inter-section);
  gap: 58px;
  align-items: center;
}
.bloc .bloc-image {
  width: 50%;
  position: relative;
}
.bloc .bloc-image-border {
  width: 50%;
}
.bloc .bloc-image-border img {
  border-radius: 30px;
  /* border: 2px #0d324c solid; */
  width: 100%;
}
.bloc .bloc-image img {
  border-radius: 30px;
  width: 100%;
}
.bloc .bloc-content {
  width: 50%;
}
.bloc .bloc-content h2 {
  text-align: left;
  max-width: 413px;
  color: var(--font-color);
}
.bloc .bloc-content p {
  margin-top: var(--space-inter-text);
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  text-align: left;
  max-width: 413px;
  color: var(--font-color);
}

.bloc .bloc-image .buble-container picture {
  display: flex;
  width: 100%;
  text-align: left;
}
.bloc .bloc-image .buble-container picture img {
  position: absolute;
  width: 66%;
}
.bloc .bloc-image .buble-container picture .buble1 {
  top: 30px;
  left: 10px;
}
.bloc .bloc-image .buble-container picture .buble2 {
  top: 146px;
  /* left: 10px; */
  right: 23%;
}
.bloc .bloc-image .buble-container picture .buble3 {
  top: 265px;
  left: 10px;
}

.buble1,
.buble2,
.buble3 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  border-radius: 1px !important;
}

.buble1.visible,
.buble2.visible,
.buble3.visible {
  opacity: 1;
  transform: translateY(0);
}
/* end  Bloc section  */

/* Banner */
.banner {
  background-color: var(--font-color);
  max-width: 1070px;
  width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner-text {
  color: #efefef;
  padding: 50px 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h2-banner {
  margin-bottom: 40px;
}
.banner-text p {
  color: #efefef;
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  max-width: 610px;
}
.banner img {
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* end Banner  */

/* Banner2 */
.banner2 {
  position: relative;
  margin-top: 90px;
  background-color: #92003f;
  width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1070px;
  padding: 50px 0px;
}
.banner2-stars1,
.banner2-stars2,
.banner2-stars3 {
  position: absolute;
  width: 122px;
  height: 122px;
}
.banner2-stars1 {
  top: 350px;
  right: 35%;
}
.banner2-stars2 {
  top: 250px;
  left: 25%;
}
/* .banner2-stars3 {
} */

.banner2-text {
  color: #ffcde0;
  margin-bottom: var(--space-inter-text);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h2-banner2 {
  font-size: var(--h2-banner-font-size);
  line-height: var(--h2-banner-line-height);
  margin-bottom: 40px;
  max-width: 924px;
  text-align: center;
  color: #ffcde0;
}
.number-list {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  width: 100%;
  z-index: 0;
}
.number-item {
  /* background: #cdabfb; */
  /* padding: 32px; */
  /* border-radius: 16px; */
  /* margin-bottom: 10px; */
  display: flex;
  align-items: center;
}
.item-circle {
  font-size: var(--banner2-number-size);
  color: #cdabfb;
  font-weight: 800;
  margin-right: 15px;
  font-family: "Barlow-Black", sans-serif;
  display: inline-block;
  line-height: 1;
}
.number-item p {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  color: white;
  font-weight: 600;
}
/* end Banner2  */

/* FAQ Section */
.question {
  font-family: "Barlow-Black", sans-serif;
  font-weight: 500;
  color: #7e26f6;
  font-size: var(--font-size-big-p);
  line-height: var(--line-height-big-p);
}
.faq-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: auto;
  margin: var(--space-inter-section) 0px;
  gap: 60px;
  max-width: 1070px;
  width: 100%;
  flex-direction: column;

  /* background: #cdabfb; */
  /* padding: 30px; */
  /* padding: 80px; */

  /* margin-top: -41px; */
}
.faq-left {
  min-width: 340px;
  padding-top: 30px;
}
.faq-left h2 {
  text-align: center;
  color: #7e26f6;
  font-size: var(--h2-banner-font-size);
  line-height: var(--h2-banner-line-height);
  /* color: var(--font-color); */
  /* font-size: 2.02rem;
  font-weight: 700;
  line-height: 1.25;
  color: #153726;
  letter-spacing: -1px;
  margin: 0; */
}
.faq-right {
  /* width: 500px;

  min-width: 320px; */
  width: 100%;
  /* max-width: 748px; */
}
.faq-item {
  /* border-bottom: 1px solid #dfe5e3; */
  /* background: #cdabfb; */
  background-color: #f6f0fd;
  border-radius: 16px;

  padding: 30px;

  margin-bottom: 10px;
  cursor: pointer;
}
.faq-item:hover {
  /* background: #dcd1ec; */
  background: #f3e8ff;
}
.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.09rem;
  font-weight: 600;
  cursor: pointer;
  /* padding: 22px 0 12px 0; */
  color: var(--font-color);
  transition: color 0.18s;
  text-align: left;
  height: 40px;
}

.faq-toggle {
  font-size: 22px;
  font-weight: 400;
  transition: color 0.2s;
  min-width: 28px;
  text-align: center;
}
.faq-answer {
  text-align: left;
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  color: var(--font-color);
  padding: 0 0 18px 0;
  display: none;
  animation: fadeIn 0.3s;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0;
}
.faq-item.open .faq-answer {
  display: block;
  max-height: 500px; /* valeur suffisamment grande */
  padding: 12px 0px 0px 0px;
}
.faq-item.open .faq-toggle {
  color: var(--font-color);
}
.faq-toggle::before {
  content: "+";
}
.faq-item.open .faq-toggle::before {
  content: "−";
}
/* end FAQ  */
/* footer  */
footer {
  display: flex;
  justify-content: center;
  /* background-color: #cdabfb; */
  background-color: var(--font-color);
  width: 100%;
  flex-direction: column;
  align-items: center;
}
footer .footer-text {
  padding: 15px 0px;
  font-weight: 600;
  font-size: 16px;
  color: #efefef;
}
.footer-legal-mention p {
  font-size: var(--footer-small-text);
  color: #efefef;
  margin-bottom: 15px;
  max-width: 676px;
}
/* end footer  */
/* animation  */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  will-change: transform, opacity;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Form styles */
.register-form {
  max-width: 500px;
  margin: 0 auto;
  background: var(--white);
  padding: 30px;
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: var(--spacing-md);
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 10px;
  font-size: 1rem;
  box-sizing: border-box;
}

.btnText {
  color: #ffffff;
}

.btnCreateTeam {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px;
  background: var(--blue);
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  outline: none;
  position: relative;
  height: 45px;
}

.btnCreateTeam:hover:not(.disabled) {
  background-color: var(--green);
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
  background: gray !important;
}

.loader {
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid var(--white);
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

.hidden {
  display: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Phone input styles */
.iti {
  width: 100%;
}

.phone-container {
  position: relative;
  width: 100%;
}

.iti input {
  width: 100%;
  padding-left: 85px !important;
  box-sizing: border-box;
  height: 45px;
  font-size: var(--font-size-sm);
}

.iti__flag-container {
  z-index: 1;
}

.iti__selected-flag {
  padding: 0 6px 0 8px;
}

.iti__country-list {
  max-width: 300px;
}

/* Password field */
.password-requirements {
  font-size: 0.875rem;
  color: var(--font-light);
  display: block;
  margin-top: 5px;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  width: 100%;
  padding-right: 40px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.25rem;
}

.password-requirements.invalid {
  color: red;
}

.grecaptcha-badge {
  visibility: hidden;
}

.cta-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 550px;
  margin-top: 40px;
  z-index: 2;
}

.cta-left {
  position: absolute;
  left: 15%;
  bottom: 50%;
  width: 350px;
}

.cta-center {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  width: 300px;
}

.cta-right {
  position: absolute;
  right: 20%;
  top: -30px;
  width: 250px;
}

.cta-container {
  position: relative;
}

.cta-container img {
  max-width: 100%;
  height: auto;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
}

.cta-container img + img {
  margin-top: 8px;
}
.blue_section_register {
  background-color: var(--font-color);
}
.blue_section_register #menu {
  padding-top: var(--space-inter-text);
}
.blue_section_register h1 {
  margin-bottom: 10px;
  font-size: 40px !important;
}
.blue_section_register h1,
.blue_section_register p {
  color: white;
}
.white_section .content {
  margin: var(--space-inter-section) 0px;
}
.register-form {
  margin-top: var(--space-inter-text);
}

/* media  */
@media screen and (min-width: 2000px) {
  .top-section {
    /* height: 40vh; */
    height: auto;
  }
  /* .banner2 {
    max-width: 1070px;
  }
  .faq-section {
    max-width: 1070px;
  } */
}
@media screen and (max-width: 1099px) {
  /* logo lizy  */
  .top-section-character-svg {
    bottom: -14px;
    height: 40px;
  }
  /* top section  */
  .top-section {
    padding: 50px 20px 50px 20px;
  }

  /* section bpi & orange  */
  .top-partners {
    height: auto;
  }
  .partener-header {
    max-width: 360px;
    font-weight: 500;
  }
  .partners-svg img {
    width: 90px;
  }
  .top-partner-container {
    height: auto;
    flex-direction: column;
    justify-content: center;
  }
  /* section bloc middle  */
  .middle-bloc-container {
    padding: 0px 20px;
  }
  /* all bloc  */
  .bloc {
    /* flex-direction: column; */
    align-items: center;
    gap: 35px;
  }
  /* texts for bloc   */
  .bloc .bloc-content {
    width: 100%;
  }
  .bloc .bloc-content p {
    max-width: auto;
  }
  /* image for bloc  */
  .bloc .bloc-image {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }
  /* image with border  */
  .bloc .bloc-image-border {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }
  .bloc .bloc-image .buble-container picture .buble1 {
    top: 4%;
  }
  .bloc .bloc-image .buble-container picture .buble2 {
    top: 35%;
  }
  .bloc .bloc-image .buble-container picture .buble3 {
    top: 67%;
  }
  /* first banner bottom  */
  .banner {
    width: auto;
    margin: 0px 20px;
  }
  .banner-text {
    padding: 20px 20px 10px;
  }
  .h2-banner2,
  .h2-banner {
    margin: 20px 20px;
  }
  .h2-banner2 {
    /* max-width: 244px; */
  }
  .banner2 {
    /* width: 100%; */
    width: 95%;
    padding: 20px;

    margin: var(--space-inter-section) 20px 0px 20px;
  }
  .banner2-text {
    /* padding: 30px 0px; */
    padding: 80px 0px;
  }
  .faq-section {
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 30px;
    padding: 0px 20px;
    /* margin-top: -45px; */
  }
  .faq-right {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .number-list {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .top-section {
    height: auto;
    padding: 50px 20px 0px 20px;
  }
  * .top-section-title {
    text-align: left;
  }
  .headerLogo {
    width: 64px;
  }
  header div {
    justify-content: center;
  }
  .top-section-character-svg {
    bottom: 117px;
  }
  .partener-header {
    margin-bottom: 10px;
  }
  .partners-svg {
    margin-left: initial;
  }
  .bloc {
    flex-direction: column;
  }
  .bloc .bloc-image .buble-container picture {
    justify-content: center;
  }
  .bloc .bloc-image .buble-container picture .buble1 {
    left: 30px;
    top: 10%;
  }
  .bloc .bloc-image .buble-container picture .buble2 {
    left: initial;
    right: 30px;
    top: 39%;
  }
  .bloc .bloc-image .buble-container picture .buble3 {
    left: 30px;
    bottom: 10%;
  }
  .banner2 {
    width: 90%;
    /* width: 100%; */
  }
  .h2-banner {
    margin: 20px 20px 40px 0px;
    text-align: left !important;
  }
  .banner2-stars1,
  .banner2-stars2,
  .banner2-stars3 {
    position: absolute;
    width: 102px;
    height: 102px;
  }
  .banner2-stars1 {
    top: 416px;
    right: 62%;
  }
  .banner2-stars3 {
    top: 115px;
    right: 14%;
  }

  .banner2-stars2 {
    display: none;
  }
  .banner-text {
    margin-bottom: var(--space-inter-text);
  }
  .p-banner {
    text-align: left;
  }
  .h2-banner2 {
    margin: 20px 20px 40px 20px;
    font-size: 32px;
    line-height: 34px;
    text-align: left !important;
  }
  .banner2-text {
    padding: 20px 0px;
  }
  /* .faq-section {
    padding: 40px;
  } */
  .top-section .top-section-container p {
    text-align: left;
  }
  .faq-left h2 {
    text-align: left;
  }
  .footer-legal-mention p {
    max-width: 340px;
    align-items: center;
  }
}
