/* Optimisation des polices - Utilisation d'une seule famille avec différents poids */
@font-face {
  font-family: "Inter";
  src: url(font/Inter-Regular.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(font/Inter-Medium.ttf) format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(font/Inter-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(font/Inter-Bold.ttf) format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Bowlby One";
  src: url(font/BowlbyOne-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: url(font/Montserrat-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url(font/Montserrat-Bold.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url(font/Montserrat-ExtraBold.ttf);
  font-weight: 600;
}

/* Variables CSS pour les valeurs répétées */
:root {
  /* color  */
  /* light purple */
  --purple-light: #cdabfb;
  --white: white;
  --pink-text: #f9bcc3;
  /* background */
  --background-header: #0d324c;
  --background-how: #92003f;

  /* h1 font-size  */
  --h1-font-size: 48px;
  --h1-line-height: 49px;
  --h1-margin-bottom: 64px;
  /* h2 font-size  */
  --h2-font-size: 32px;
  --h2-line-height: 33px;
  /* h3 font-size  */
  --h3-font-size: 64px;

  /* big text (btn) */
  --font-size-big-p: 24px;
  /* big text how it work */
  --font-size-p: 21px;
  --line-height-p: 26px;
  /* normal p  */
  --font-size-normal: 32px;
  /* header space  */
  --header-big-little: 64px;
  --header-big-space: 96px;
  /* margin-bottom */
  --marging-bottom-h2: 90px;
  /* space between section  */
  --space-inter-section: 100px;
  /* space between text  */
  --space-inter-text: 30px;
  /* footer small  */
  --footer-small-text: 12px;
}

@media screen and (max-width: 900px) {
  :root {
    --space-inter-section: 64px;
    --h1-font-size: 40px;
    --h1-line-height: 41px;
    --h1-margin-bottom: 30px;
    --h2-line-height: 25px;
    --space-inter-text: 25px;
    --font-size-p: 16px;
    --h2-font-size: 24px;
    --line-height-p: 17px;
  }
}

/* Reset et styles de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: var(--line-height-base);
  background: var(--white);
  text-align: center;
  font-family: "Inter", sans-serif;
  color: var(--font);
}

/* Styles de titres */
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  /* margin-bottom: 64px; */
  margin-bottom: var(--h1-margin-bottom);
}

h2 {
  font-size: var(--h2-font-size);
  margin-bottom: var(--spacing-md);
  text-align: center;

  line-height: var(--h2-line-height);
  padding-bottom: var(--marging-bottom);
}

h3 {
  font-size: var(--h3-font-size);
  margin-bottom: var(--spacing-xs);
}
/* Nav  */
header {
  background-color: #0d324c;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
}
header div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  max-width: 80%;
}
.headerLogo img {
  width: 75px;
  height: auto;
}
/* end Nav  */
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.top-section {
  background-color: #0d324c;
  color: #efefef;
  padding: 50px 50px 50px 50px;

  display: flex;
  justify-content: center;
  width: 100%;
}
.top-section-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 2076px;
}

/* top-section items  */

/* subtitle  */
.top-section .top-section-container p {
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  margin-bottom: var(--space-inter-text);
  /* max-width: 1220px; */
  max-width: 720px;
}

/* texte in purple  */
.top-section-purple {
  color: var(--purple-light) !important;
}
.purple-rotate {
  color: var(--purple-light) !important;
  transform: rotate(-10deg);
}
.top-section-purple-buble {
  background-color: var(--purple-light);
  padding: 8px;
  border-radius: 40px;
  color: var(--background-header);
  font-weight: 600;
}
.top-section-title {
  position: relative;
  /* max-width: 950px; */
  max-width: 798px;
  color: #efefef;
}

/* button  */
.btnTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ef3741;
  border-radius: 15px;
  border: none;
  color: #efefef;

  height: 81px;
  width: 300px;
  font-size: var(--font-size-normal);
  font-weight: 600;
  align-items: center;
}
.btnTop-text {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.btnTop-number {
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
/* charactere lizy (illustration) */
.top-section-character-svg {
  position: absolute;
  transform: rotate(-10deg);
  bottom: 120px;
  right: -5px;
  height: 55px;
}
/* end top-section items  */
/* partner section  */
.top-partner-container {
  display: flex;
  max-width: 1070px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.partener-header {
  font-size: 16px;
  color: #0d324c;
}
.top-partners {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #efefef;
  height: 88px;
  padding: 15px 0px;
}
.partners-svg {
  display: flex;
  align-items: center;
}
.partners-svg img {
  margin: 0px 30px;
  width: 110px;
  height: auto;
}
/*end partner section  */

/* Bloc section  */
.middle-bloc-container {
  margin-bottom: 90px;
}
.bloc {
  display: flex;
  max-width: 1070px;
  width: 100%;
  justify-content: space-between;
  margin-top: var(--space-inter-section);
  gap: 58px;
  align-items: center;
}
.bloc .bloc-image {
  width: 50%;
}
.bloc .bloc-image-border {
  width: 50%;
}
.bloc .bloc-image-border img {
  border-radius: 30px;
  border: 2px #0d324c solid;
  width: 100%;
}
.bloc .bloc-image img {
  border-radius: 30px;
  width: 100%;
}
.bloc .bloc-content {
  width: 50%;
}
.bloc .bloc-content h2 {
  text-align: left;
  max-width: 413px;
  color: #0d324c;
}
.bloc .bloc-content p {
  margin-top: var(--space-inter-text);
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  text-align: left;
  max-width: 413px;
  color: #0d324c;
}

/* end  Bloc section  */

/* Banner */
.banner {
  background-color: #0d324c;
  max-width: 1070px;
  width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner-text {
  color: #efefef;
  padding: 50px 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h2-banner {
  margin-bottom: 40px;
}
.banner-text p {
  color: #efefef;
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  max-width: 610px;
}
.banner img {
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* end Banner  */

/* Banner2 */
.banner2 {
  margin-top: 90px;
  background-color: #92003f;
  max-width: 1070px;
  width: 100%;
  border-radius: 30px;
}
.banner2-text {
  color: #f9bcc3;
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h2-banner2 {
  margin-bottom: 40px;
  max-width: 492px;
}

/* end Banner2  */

/* FAQ Section */
.faq-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: auto;
  margin: var(--space-inter-section) 0px;
  gap: 60px;
  max-width: 1070px;
  width: 100%;
}
.faq-left {
  min-width: 340px;
  padding-top: 30px;
}
.faq-left h2 {
  text-align: left;
  /* font-size: 2.02rem;
  font-weight: 700;
  line-height: 1.25;
  color: #153726;
  letter-spacing: -1px;
  margin: 0; */
}
.faq-right {
  width: 500px;

  min-width: 320px;
}
.faq-item {
  border-bottom: 1px solid #dfe5e3;
  padding: 0;
}
.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.09rem;
  font-weight: 600;
  cursor: pointer;
  padding: 22px 0 12px 0;
  color: #153726;
  transition: color 0.18s;
  text-align: left;
}

.faq-toggle {
  font-size: 22px;
  font-weight: 400;
  transition: color 0.2s;
  min-width: 28px;
  text-align: center;
}
.faq-answer {
  text-align: left;
  font-size: 1rem;
  line-height: 1.62;
  color: #333;
  padding: 0 0 18px 0;
  display: none;
  animation: fadeIn 0.3s;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0;
}
.faq-item.open .faq-answer {
  display: block;
  max-height: 500px; /* valeur suffisamment grande */
  padding: 12px 0 18px 0;
}
.faq-item.open .faq-toggle {
  color: #153726;
}
.faq-toggle::before {
  content: "+";
}
.faq-item.open .faq-toggle::before {
  content: "−";
}
/* end FAQ  */
/* footer  */
footer {
  display: flex;
  justify-content: center;
  /* background-color: #cdabfb; */
  background-color: #0d324c;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
footer .footer-text {
  padding: 15px 0px;
  font-weight: 600;
  font-size: 16px;
  color: #efefef;
}
.footer-legal-mention p {
  font-size: var(--footer-small-text);
  color: #efefef;
  margin-bottom: 15px;
  max-width: 676px;
}
/* end footer  */
/* media  */
@media screen and (max-width: 1099px) {
  /* logo lizy  */
  .top-section-character-svg {
    bottom: -14px;
    height: 40px;
  }
  /* top section  */
  .top-section {
    padding: 50px 20px 50px 20px;
  }

  /* section bpi & orange  */
  .top-partners {
    height: auto;
  }
  .partener-header {
    max-width: 360px;
    font-weight: 500;
  }
  .partners-svg img {
    width: 90px;
  }
  .top-partner-container {
    height: auto;
    flex-direction: column;
    justify-content: center;
  }
  /* section bloc middle  */
  .middle-bloc-container {
    padding: 0px 20px;
  }
  /* all bloc  */
  .bloc {
    /* flex-direction: column; */
    align-items: center;
    gap: 25px;
  }
  /* texts for bloc   */
  .bloc .bloc-content {
    width: 100%;
  }
  .bloc .bloc-content p {
    max-width: auto;
  }
  /* image for bloc  */
  .bloc .bloc-image {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }
  /* image with border  */
  .bloc .bloc-image-border {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }
  /* first banner bottom  */
  .banner {
    width: auto;
    margin: 0px 20px;
  }
  .banner-text {
    padding: 20px 20px 10px;
  }
  .h2-banner2,
  .h2-banner {
    margin: 20px 20px;
  }
  .banner2 {
    width: 95%;

    margin: var(--space-inter-section) 20px 0px 20px;
  }
  .banner2-text {
    padding: 20px 0px;
  }
  .faq-section {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding: 0px 20px;
  }
  .faq-right {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .top-section-title {
    text-align: left;
  }
  .headerLogo {
    width: 64px;
  }
  header div {
    justify-content: center;
  }
  .top-section-character-svg {
    bottom: 124px;
  }
  .bloc {
    flex-direction: column;
  }
  .top-section .top-section-container p {
    text-align: left;
  }
  .footer-legal-mention p {
    max-width: 340px;
    align-items: center;
  }
}
